@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Martian+Mono:wght@100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  body {
    @apply bg-bgPrimary;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
}

body,
html {

  @apply text-[16px] scroll-smooth;
}
body {
  overflow-x: hidden;
  @apply font-normal  text-[#909094] font-martian text-[16px];
}
a,
button {
  @apply font-outfit;
}
p {
  @apply leading-[1.5]  text-[16px] xs:text-[14px] ;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-[#FEFFFF] font-zillia font-semibold leading-[1.2] capitalize;
}

h1 {
  @apply text-[98px] lg:text-[80px] md:text-[60px] xs:text-[50px];
}
h2 {
  @apply text-[60px] lg:text-[44px] md:text-[36px] xs:text-[28px] mb-4;
}

h3 {
  @apply text-[28px];
}
a,
button {
  transition: all ease 0.5s !important;
}

figure {
  line-height: 0;
}

.loadingLogo{
  animation: spin 1s linear infinite;
}

@keyframes spin{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinMiddle{
  0% {
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%)  rotate(360deg);
  }
}


.mainHeader{
  transition: all ease 0.4s;
}
.headernav {
  li {
    a {
      position: relative;
      &::before {
        background: url("/assets/images/starIcon.png");
        content: "";
        background-size: 11px;
        position: absolute;
        width: 11px;
        height: 11px;
        left: 50%;
    transform: translateX(-50%);
        bottom: -15px;
        opacity: 0;
        transition: all ease 0.4s;
        animation: spinMiddle 2s linear infinite;
      }
      &.active,
      &:hover {
        color: #fff;
        &::before {
          opacity: 1;
        }
      }
    }
  }
}

.cmn_gap {
  padding: 100px 0;
  @media (max-width:899px){
    padding: 50px 0;
  }
  @media (max-width:599px){
    padding: 30px 0;
  }
}


.bannerSec {
  // background: url("/assets/images/bannerBG.png") no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
}
.innerBanner{
  // background: url("/assets/images/innerBanner.png") no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center ;
  background-repeat: no-repeat;
  padding: 190px 0;
  min-height: 500px;
}

@property --myColor1 {
  syntax: "<color>";
  initial-value: #002c52;
  inherits: false;
}

@property --myColor2 {
  syntax: "<color>";
  initial-value: #254867;
  inherits: false;
}

@property --myColor3 {
  syntax: "<color>";
  initial-value: #F0B435;
  inherits: false;
}

.subHeading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
  background: linear-gradient(
    90deg,
    var(--myColor1) 0%,
    var(--myColor2) 38.5%,
    var(--myColor3) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  animation: moveGradient 5s ease infinite;
  transition: all ease 0.4s;
  @media (max-width:599px){
    font-size: 16px;
  }
}

@keyframes moveGradient {
  0% {
    --myColor1: #002c52;
    --myColor2: #254867;
    --myColor3: #f04c00;
  }
  50% {
    --myColor1: #f04c00;
    --myColor2: #002c52;
    --myColor3: #254867;
  }
  75% {
    --myColor1: #254867;
    --myColor2: #f04c00;
    --myColor3: #002c52;
  }
  100% {
    --myColor1: #002c52;
    --myColor2: #254867;
    --myColor3: #f04c00;
  }
}
.mainHeading {
  font-weight: 600;
  color: #ffffff;
  line-height: 1.2;
  text-shadow: 2px 7px 7px rgba(0, 0, 0, 0.51);
}

.hoverImg {
  overflow: hidden;
  transition: all ease 0.4s;
  img {
    transition: all ease 0.4s;
  }
  &:hover {
    transform: scale(1.2);
  }
}

.charShadow {
  position: relative;
  img {
    position: relative;
    z-index: 2;
  }
  &::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 30px;
    bottom: -5px;
    left: 50%;
    border-radius: 100%;
    transform: translateX(-50%);
    background: rgb(0, 0, 0);
    filter: blur(12px);
    z-index: 1;
  }
}

.typewriter {
  overflow: hidden;
  border-right: 0.15em solid black;
  white-space: nowrap;
  letter-spacing: 0.1em;
  transition: all ease 0.4s;
  animation: typing 2s steps(30) 1s 1 normal both,
    blink-caret 0.75s step-end 2s forwards;
}

/* Keyframe for typing animation */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Keyframe for blinking cursor */
@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
  to {
    border-color: transparent;
  }
}

.characterCardHover {
  cursor: pointer;
  .charCard {
    transition: all ease 0.4s;
  }
  &:hover {
    .charCard {
      transform: scaleX(-1);
    }
  }
}

.logoLink{
  img{
    transition: all ease 0.4s;
  }
  &:hover{
    img{
      transform: rotate(360deg);
    }
  }
}

.footerNav{
  .active{
    color: #fff;
  }
}


::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 100px;
}


::-webkit-scrollbar-track {
  background: #fceac4;

}


::-webkit-scrollbar-thumb {
  background: #F0B435;
  border-radius: 100px;
}

.blogDetailsHead{
   text-align: center;
   padding-bottom: 50px;
  h2{
    margin-bottom: 10px;
    font-size: 40px;
   
  }
}

.blogContents{

  h3{
    margin-bottom: 20px;
  }
  p{
    color: #fff;
    &:not(:last-child){
      margin-bottom: 12px ;
    }
  }
  ul{
    padding-bottom: 40px;
    li{
      padding-left: 40px;
      position: relative;
      margin-left: 40px;
      &:not(:last-child){
        margin-bottom: 12px;
      }
      &::before{
        content: "";
        width: 30px;
        left: 0;
        height: 2px;
        position: absolute;
        top: 10px;
        background-color: #F0B435;
      }
    }
  }
}